## 72 Упражнения на ~~пресс и отжимания~~ Pandas

In [36]:
!python -m pip install pandas requests

# Эти ребята нужны почти во всех упражнениях, поэтому выполняем эту ячейку первой
import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\федор\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: requests in c:\users\федор\appdata\local\programs\python\python312\lib\site-packages (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\федор\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\федор\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\федор\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\федор\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\федор\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\федор\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\федор\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\федор\appdata\local\programs\python\python312\lib\site-packages (from requests) (2024.12.14)
Requirement already satisfied: six>=1.5 in c:\users\федор\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### Упражнение № 1

Создайте Series из каждого из элементов: списка, ndarray и словаря.

Пример входных данных:

```python
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
```

In [20]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

print(pd.Series(mylist))
print(pd.Series(myarr))
print(pd.Series(mydict))

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int64
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

### Упражнение № 2

Преобразуйте `ser` в датафрейм с его индексом в качестве еще одного столбца датафрейма.

Пример входных данных:

```python
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
```

In [18]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# Преобразование значений Series в индексы DataFrame и наоборот
df = pd.DataFrame({'index': ser.index, 'value': ser.values})

print(df)

   index  value
0      a      0
1      b      1
2      c      2
3      e      3
4      d      4
5      f      5
6      g      6
7      h      7
8      i      8
9      j      9
10     k     10
11     l     11
12     m     12
13     n     13
14     o     14
15     p     15
16     q     16
17     r     17
18     s     18
19     t     19
20     u     20
21     v     21
22     w     22
23     x     23
24     y     24
25     z     25

### Упражнение № 3

Объедините `ser1` и `ser2`, чтобы сформировать датафрейм.

Пример входных данных:

```python
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
```

In [17]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

df = pd.DataFrame({'col1' : pd.Series(mylist), 'col2' : pd.Series(myarr)})
print(df)

   col1  col2
0     a     0
1     b     1
2     c     2
3     e     3
4     d     4
5     f     5
6     g     6
7     h     7
8     i     8
9     j     9
10    k    10
11    l    11
12    m    12
13    n    13
14    o    14
15    p    15
16    q    16
17    r    17
18    s    18
19    t    19
20    u    20
21    v    21
22    w    22
23    x    23
24    y    24
25    z    25

### Упражнение № 4

Добавьте имя ряда  `ser`, назвав его `latin_letters`.

Пример входных данных:

```python
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
```

In [15]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'latin_letters'
print(ser)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
Name: latin_letters, dtype: object

### Упражнение № 5

Из `ser1` удалите элементы, присутствующие в `ser2`.

```python
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

In [21]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

print(ser1[~ser1.isin(ser2)])

0    1
1    2
2    3
dtype: int64

### Упражнение № 6

Получить все элементы `ser1` и `ser2`, которые не являются общими для обоих рядов.

Пример входных данных:

```python
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

In [26]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

print(pd.concat([ser1[~ser1.isin(ser2)], ser2[~ser2.isin(ser1)]]).reset_index(drop=True))

0    1
1    2
2    3
3    6
4    7
5    8
dtype: int64

### Упражнение № 7

Вычислите минимальное значение, 25-й процентиль, медиану, 75-й процентиль и максимальное значение `ser`.

Пример входных данных:

```python
ser = pd.Series(np.random.normal(10, 5, 25))
```

In [29]:
ser = pd.Series(np.random.normal(10, 5, 25))

print(f"Минимальное значение: {ser.min()}\n", f"25-й процентиль: {ser.quantile(0.25)}\n", f"Медиана: {ser.median()}\n", f"75-й процентиль: {ser.quantile(0.75)}\n", f"Максимальное значение: {ser.max()}")

Минимальное значение: 0.8935618326967241
 25-й процентиль: 5.703139281055364
 Медиана: 11.012068807750408
 75-й процентиль: 13.905919327239822
 Максимальное значение: 18.78100814918936

### Упражнение № 8

Вычислите частоту встречаемости каждого уникального значения `ser`.

Пример входных данных:

```python
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
```

In [31]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
print(ser.value_counts(normalize=True))

h    0.166667
g    0.133333
c    0.133333
e    0.133333
f    0.133333
d    0.100000
a    0.100000
b    0.100000
Name: proportion, dtype: float64

### Упражнение № 9

Из `ser` оставить 2 наиболее часто встречающихся элемента без изменений, а все остальные заменить на `Прочее`.

Пример входных данных:

```python
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
```

In [32]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

freq = ser.value_counts()
most_common = freq.index[:2]
print(ser.apply(lambda x: x if x in most_common else 'Прочее'))

0          4
1          1
2          4
3          1
4          4
5          4
6          4
7     Прочее
8          1
9          4
10         4
11         4
dtype: object

### Упражнение № 10

Разбейте ряд `ser` на 10 равных децилей и замените значения на название дециля.

Пример входных данных:

```python
ser = pd.Series(np.random.random(20))
```

In [34]:
ser = pd.Series(np.random.random(20))

print(pd.qcut(ser, 10, labels=[f"Децел_№{i+1}" for i in range(10)]))

0      Децел_№6
1      Децел_№9
2      Децел_№5
3      Децел_№2
4      Децел_№7
5      Децел_№8
6      Децел_№8
7      Децел_№2
8      Децел_№1
9      Децел_№3
10     Децел_№5
11     Децел_№9
12     Децел_№3
13    Децел_№10
14    Децел_№10
15     Децел_№1
16     Децел_№7
17     Децел_№6
18     Децел_№4
19     Децел_№4
dtype: category
Categories (10, object): ['Децел_№1' < 'Децел_№2' < 'Децел_№3' < 'Децел_№4' ... 'Децел_№7' < 'Децел_№8' < 'Децел_№9' < 'Децел_№10']

### Упражнение № 11

Переформируйте ряд `ser` в датафрейм с 7 строками и 5 столбцами

Пример входных данных:

```python
ser = pd.Series(np.random.randint(1, 10, 35))
```

In [35]:
ser = pd.Series(np.random.randint(1, 10, 35))

print(pd.DataFrame(ser.values.reshape(7, 5)))

   0  1  2  3  4
0  5  1  9  3  5
1  6  5  7  6  5
2  2  1  6  4  1
3  2  7  3  4  2
4  6  7  6  8  5
5  4  5  7  7  4
6  7  7  5  8  6

### Упражнение № 12

Найти позиции чисел, кратных 3, из ряда `ser`.

Пример входных данных:

```python
ser = pd.Series(np.random.randint(1, 10, 7))
```

In [36]:
ser = pd.Series(np.random.randint(1, 10, 7))

print("Серия:\n", ser)
print("Позиции чисел, кратных 3:", ser[ser % 3 == 0].index)

Серия:
 0    5
1    3
2    5
3    9
4    9
5    7
6    5
dtype: int32
Позиции чисел, кратных 3: Index([1, 3, 4], dtype='int64')

### Упражнение № 13

Из `ser` извлечь элементы, находящиеся на позициях в списке `pos`.

Пример входных данных:

```python
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
```

In [38]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

print(ser.take(pos))

0     a
4     e
8     i
14    o
20    u
dtype: object

### Упражнение № 14

Объедините `ser1` и `ser2` по вертикали и горизонтали (чтобы сформировать датафрейм).

Пример входных данных:

```python
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
```

In [39]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df_horizontal = pd.concat([ser1, ser2], axis=1)
print("Объединение по горизонтали:\n", df_horizontal)

df_vertical = pd.concat([ser1, ser2], axis=0).reset_index(drop=True)
print("\nОбъединение по вертикали:\n", df_vertical)

Объединение по горизонтали:
    0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

Объединение по вертикали:
 0    0
1    1
2    2
3    3
4    4
5    a
6    b
7    c
8    d
9    e
dtype: object

### Упражнение № 15

Получите позиции элементов `ser2` в `ser1` в виде списка.

Пример входных данных:

```python
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
```

In [44]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

print([int(ser1[ser1 == value].index[0]) for value in ser2])

[5, 4, 0, 8]

### Упражнение № 16

Вычислить среднеквадратическую ошибку рядов `truth` и `pred`.

Пример входных данных:

```python
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
```

In [49]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

print(((truth - pred) ** 2).mean())

0.1644581491894066

### Упражнение № 17

В каждом слове `ser` поставьте первый символ каждого слова в верхний регистр.

```python
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
```

In [50]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

print(ser.str.capitalize())

0     How
1      To
2    Kick
3    Ass?
dtype: object

### Упражнение № 18

В каждом слове `ser` посчитайте число символов.

Пример входных данных:

```python
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
```

In [51]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

print(ser.apply(len))

0    3
1    2
2    4
3    4
dtype: int64

### Упражнение № 19

Вычислите разность разностей между последовательно идущими числами в `ser`.

Пример входных данных:

```python
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
```

In [54]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print("Первая разность:\n", ser.diff().to_list())
print("Вторая разность:\n", ser.diff().diff().to_list())

Первая разность:
 [nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
Вторая разность:
 [nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

### Упражнение № 20

Преобразуйте строковое представление дат в `datetime64`.

Пример входных данных:

```python
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
```

In [56]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

from dateutil import parser
print(ser.apply(lambda x: parser.parse(x)))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### Упражнение № 21

Получите из `ser` день месяца, номер недели, день года и день недели.

Пример входных данных:

```python
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
```

In [58]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

from dateutil import parser
ser_datetime = ser.apply(lambda x: parser.parse(x))
day_of_month = ser_datetime.dt.day.tolist()
week_number = ser_datetime.dt.isocalendar().week.tolist()
day_of_year = ser_datetime.dt.dayofyear.tolist()
day_of_week = ser_datetime.dt.day_name().tolist()

print("Номер дня в месяце:", day_of_month)
print("Номер недели:", week_number)
print("Номер дня в году:", day_of_year)
print("День недели:", day_of_week)

Номер дня в месяце: [1, 2, 3, 4, 5, 6]
Номер недели: [53, 5, 9, 14, 19, 23]
Номер дня в году: [1, 33, 63, 94, 125, 157]
День недели: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

### Упражнение № 22

Замените элементы `ser` на даты, начинающиеся с 4-го числа соответствующего месяца.

Пример входных данных:

```python
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])
```

In [60]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

from dateutil import parser
print(ser.apply(lambda x: parser.parse('04 ' + x))) # даты одинакового формата и без дней, можем позволить сложение строк

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

### Упражнение № 23

Из `ser` извлеките слова, содержащие не менее 2 гласных букв.

Пример входных данных:

```python
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
```

In [62]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])

def count_vowels(word):
    return sum(1 for char in word.lower() if char in 'aeiouy') # из-за забывчивости о существовании `y` в примере вывода нет слова 'Python'

print(ser[ser.apply(count_vowels) >= 2])

0     Apple
1    Orange
3    Python
4     Money
dtype: object

### Упражнение № 24

Извлеките корректные адреса электронной почты из ряда `emails`. Шаблон регулярного выражения для корректных адресов электронной почты приведен в качестве образца.

Пример входных данных:

```python
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
```

In [63]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'

import re
print(emails[emails.apply(lambda x: re.match(pattern, x) is not None)])

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

### Упражнение № 25

Вычислить среднее значение веса в `weights` для каждого фрукта из `fruit`.

Пример входных данных:

```python
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weight.tolist())
print(fruit.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']
```

In [65]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))
print(weights.tolist())
print(fruit.tolist())

print(weights.groupby(fruit).mean())

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['apple', 'banana', 'carrot', 'banana', 'apple', 'banana', 'carrot', 'banana', 'banana', 'apple']
apple     5.333333
banana    5.800000
carrot    5.000000
dtype: float64

### Упражнение № 26

Вычислить [евклидово расстояние](https://en.wikipedia.org/wiki/Euclidean_distance) между векторами $p$ и $q$, не используя встроенную формулу.

Пример входных данных:

```python
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
```

$$Формула$$
$$d(p, q) = \sqrt{\sum_{i=1}^{n} (p_i - q_i)^2}$$

In [66]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])

print("Евклидово расстояние:", np.sqrt(np.sum((p - q) ** 2)))

Евклидово расстояние: 18.16590212458495

### Упражнение № 27

Получите позиции пиков (значений, окруженных с двух сторон меньшими значениями) в `ser`.

Пример входных данных:

```python
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
```

In [68]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])

print(np.where((ser.shift(1) < ser) & (ser.shift(-1) < ser)))

(array([1, 5, 7]),)

### Упражнение № 28

Замените пробелы в `my_str` на наименее часто встречающийся символ.

Пример входных данных:

```python
my_str = 'dbc deb abed gade'
```

In [69]:
my_str = 'dbc deb abed gade'

from collections import Counter
least_common_char = min(Counter(my_str.replace(' ', '')), key=Counter(my_str.replace(' ', '')).get) # Считаем все символы кроме пробелов и смотрим на самый редкий 
print(my_str.replace(' ', least_common_char)) # Замена пробелов на наименее часто встречающийся символ

dbccdebcabedcgade

### Упражнение № 29

Создайте временной ряд, начинающийся с `2000-01-01`, содержащий 10 субботних дней после этого и имеющий в качестве значений случайные числа

In [71]:
date_range = pd.date_range(start='2000-01-01', periods=10, freq='W-SAT') # Субботушка 😄
random_values = np.random.randint(1, 10, size=10)
print(pd.Series(data=random_values, index=date_range))

2000-01-01    6
2000-01-08    2
2000-01-15    7
2000-01-22    9
2000-01-29    7
2000-02-05    8
2000-02-12    6
2000-02-19    5
2000-02-26    7
2000-03-04    8
Freq: W-SAT, dtype: int32

### Упражнение № 30

В `ser` отсутствуют некоторые даты и значения. Сделайте так, чтобы все отсутствующие даты появились и заполнились значением из предыдущей даты.

Пример входных данных:

```python
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)
#> 2000-01-01     1.0
#> 2000-01-03    10.0
#> 2000-01-06     3.0
#> 2000-01-08     NaN
#> dtype: float64
```

In [72]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

print(ser.resample('D').ffill())

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64
2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     NaN
Freq: D, dtype: float64

### Упражнение № 31

Вычислите автокорреляции для первых 10 лагов `ser`. Определите, какой из лагов имеет наибольшую корреляцию. (см. также [Модель авторегрессии и распределённого лага — Википедия](https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C_%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D0%B5%D0%B3%D1%80%D0%B5%D1%81%D1%81%D0%B8%D0%B8_%D0%B8_%D1%80%D0%B0%D1%81%D0%BF%D1%80%D0%B5%D0%B4%D0%B5%D0%BB%D1%91%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BB%D0%B0%D0%B3%D0%B0))

Пример входных данных:

```python
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
```

In [74]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))

autocorrelations = [ser.autocorr(lag) for lag in range(1, 11)] # ноль не берем по высоко научным причинам
max_lag = np.argmax(autocorrelations) + 1 # чтобы был красивый счет
autocorrelations = [float(corr) for corr in autocorrelations] # чтобы избежать вывода np.float и тд
print("Автокорреляции для первых 10 лагов:", autocorrelations)
print("Лаг с наибольшей корреляцией:", max_lag)

Автокорреляции для первых 10 лагов: [0.17888644372947318, 0.1391746764015067, 0.1007312205836491, -0.015390441244117835, -0.5460005916004572, -0.019034986059291287, -0.21576620737780572, 0.18703440692237439, 0.23602133509015732, 0.3316167877491565]
Лаг с наибольшей корреляцией: 10

### Упражнение № 32

Импортируйте каждую 50-ю строку набора данных [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) в виде датафрейма.

In [9]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
print(pd.read_csv(url, skiprows=lambda x: x % 50 != 0))

      crim  zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9
1  0.06860   0   2.89     0  0.445  7.416  62.5  3.4952    2  276     18.0
2  2.73397   0  19.58     0  0.871  5.597  94.9  1.5257    5  403     14.7
3  0.03150  95   1.47     0  0.403  6.975  15.3  7.6534    3  402     17.0
4  0.19073  22   5.86     0  0.431  6.718  17.5  7.8265    7  330     19.1
5  0.05561  70   2.24     0  0.400  7.041  10.0  7.8278    5  358     14.8
6  0.02899  40   1.25     0  0.429  6.939  34.5  8.7921    1  335     19.7
7  9.91655   0  18.10     0  0.693  5.852  77.8  1.5004   24  666     20.2
8  7.52601   0  18.10     0  0.713  6.417  98.3  2.1850   24  666     20.2
9  0.17783   0   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2

        b  lstat  medv
0  396.90  16.20  19.4
1  396.90   6.19  33.2
2  351.85  21.45  15.4
3  396.90   4.56  34.9
4  393.74   6.56  26.2
5  371.58   4.74  29.0
6  389.85   5.89  26.6
7  338.16  29.97   6.3
8  304.21  19.31  13.0
9  395.77  15.10  17.5

### Упражнение № 33

Импортируйте набор данных [boston housing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv), но при импорте измените столбец `'medv'` (*median house value*) так, чтобы значения < 25 стали `Low`, а > 25 - `High`.

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv')
df['medv'] = df['medv'].apply(lambda x: 'Low' if x < 25 else 'High')
print(df.head()) # CSV-шка большая, выведем лишь немного

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

        b  lstat  medv
0  396.90   4.98   Low
1  396.90   9.14   Low
2  392.83   4.03  High
3  394.63   2.94  High
4  396.90   5.33  High

### Упражнение № 34

Создайте датафрейм со строками в виде шагов (интервалов) заданного ряда

Пример входных данных:

```python
L = pd.Series(range(15))
```

In [15]:
L = pd.Series(range(15))

def create_steps(series, step_size, window_size):
    return np.array([series[i: i + window_size] for i in range(0, len(series) - window_size + 1, step_size)])

print(pd.DataFrame(create_steps(L, step_size=2, window_size=4))) # числа 14 нет в результате, так как шаг равен 2, а 13+2=15 - за пределами массива

    0   1   2   3
0   0   1   2   3
1   2   3   4   5
2   4   5   6   7
3   6   7   8   9
4   8   9  10  11
5  10  11  12  13

### Упражнение № 35

Импортируйте столбцы 'crim' и 'medv' из набора данных [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) в виде датафрейма.

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
print(df.head()) # CSV-шка большая, выведем лишь немного

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

### Упражнение № 36

Получите количество строк, столбцов, тип данных и суммарную статистику каждого столбца набора данных [Cars93](https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv). Также получите эквивалент датафрейма в виде numpy-массива и списка.

In [18]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

num_rows, num_columns = df.shape
data_types = df.dtypes
summary_stats = df.describe()

numpy_array = df.to_numpy()
list_data = df.values.tolist()

print(f'Количество строк: {num_rows}')
print(f'Количество столбцов: {num_columns}')
print('\nТипы данных каждого столбца:')
print(data_types)
print('\nСуммарная статистика каждого столбца:')
print(summary_stats)
print('\nЭквивалент DataFrame в виде numpy-массива:')
print(numpy_array)
print('\nЭквивалент DataFrame в виде списка:')
print(list_data)
# Ну тут дофига в выводе будет

Количество строк: 93
Количество столбцов: 27

Типы данных каждого столбца:
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

Суммарная статистика каждого столбца:
       Min.Price      Price  Max.Price   MPG.city  MPG.highway  EngineSize  \
count  86.000000  91.000000  88.000000  84.000000    91.000000   91.000000
mean   17.118605  19.616484  21.459091  22.404762    29.065934    2.658242
std     8.828290   9.724280  10.696563   5.841520     5.370293    1.045845
min     6.700000   7.400000   7.900000  15.000000    20.000000    1.000000
25%    10.825000  12.350000  14.575000  18.000000    26.000000    1.800000
50%    14.600000  17.700000  19.150000  21.000000    28.000000    2.300000
75%    20.250000  23.500000  24.825000  25.000000    31.000000    3.250000
max    45.400000  61.900000  80.000000  46.000000    50.000000    5.700000

       Horsepower          RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  \
count   86.000000    90.000000     87.000000           85.000000   91.000000
mean   144.000000  5276.666667   2355.000000           16.683529    5.076923
std     53.455204   605.554811    486.916616            3.375748    1.045953
min     55.000000  3800.000000   1320.000000            9.200000    2.000000
25%    100.750000  4800.000000   2017.500000           14.500000    4.000000
50%    140.000000  5200.000000   2360.000000           16.500000    5.000000
75%    170.000000  5787.500000   2565.000000           19.000000    6.000000
max    300.000000  6500.000000   3755.000000           27.000000    8.000000

           Length   Wheelbase      Width  Turn.circle  Rear.seat.room  \
count   89.000000   92.000000  87.000000    88.000000       89.000000
mean   182.865169  103.956522  69.448276    38.954545       27.853933
std     14.792651    6.856317   3.778023     3.304157        3.018129
min    141.000000   90.000000  60.000000    32.000000       19.000000
25%    174.000000   98.000000  67.000000    36.000000       26.000000
50%    181.000000  103.000000  69.000000    39.000000       27.500000
75%    192.000000  110.000000  72.000000    42.000000       30.000000
max    219.000000  119.000000  78.000000    45.000000       36.000000

       Luggage.room       Weight
count     74.000000    86.000000
mean      13.986486  3104.593023
std        3.120824   600.129993
min        6.000000  1695.000000
25%       12.000000  2647.500000
50%       14.000000  3085.000000
75%       16.000000  3567.500000
max       22.000000  4105.000000

Эквивалент DataFrame в виде numpy-массива:
[['Acura' 'Integra' 'Small' ... 2705.0 'non-USA' 'Acura Integra']
 [nan 'Legend' 'Midsize' ... 3560.0 'non-USA' 'Acura Legend']
 ['Audi' '90' 'Compact' ... 3375.0 'non-USA' 'Audi 90']
 ...
 ['Volkswagen' 'Corrado' 'Sporty' ... 2810.0 'non-USA'
  'Volkswagen Corrado']
 ['Volvo' '240' 'Compact' ... 2985.0 'non-USA' 'Volvo 240']
 [nan '850' 'Midsize' ... 3245.0 'non-USA' 'Volvo 850']]

Эквивалент DataFrame в виде списка:

### Упражнение № 37

Извлеките номер строки и столбца конкретной ячейки по заданному критерию.

Пример входных данных:

```python
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

*Какой производитель, модель и тип имеет наибольшую цену в `Price`? Каков номер строки и столбца ячейки с наибольшим значением `Price`?*

In [20]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

max_price = df['Price'].max()
max_price_rows = df[df['Price'] == max_price]
row_numbers = max_price_rows.index.tolist()
column_number = df.columns.get_loc('Price')

for row_number in row_numbers: # а вдруг их несколько
    manufacturer = df.at[row_number, 'Manufacturer']
    model = df.at[row_number, 'Model']
    car_type = df.at[row_number, 'Type']
    print(f'Производитель: {manufacturer}')
    print(f'Модель: {model}')
    print(f'Тип: {car_type}')
    print(f'Цена: {max_price}')
    print(f'Номер строки: {row_number}')
    print(f'Номер столбца: {column_number}')
    print('---')

Производитель: Mercedes-Benz
Модель: 300E
Тип: Midsize
Цена: 61.9
Номер строки: 58
Номер столбца: 4
---

### Упражнение № 38

Переименуйте в `df` столбец `Type` в `CarType` и замените `.` в именах столбцов на `_`.

Пример входных данных:

```python
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)
#> Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
#>        'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
#>        'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
#>        'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
#>        'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
#>        'Make'],
#>       dtype='object')
```

In [21]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.columns)

df.rename(columns={'Type': 'CarType'}, inplace=True)
df.columns = df.columns.str.replace('.', '_')
print(df.columns)

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')
Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

### Упражнение № 39

Проверьте, нет ли в `df` отсутствующих значений.

Пример входных данных:

```python
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [42]:
import io
import requests

data = requests.get('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv').text
data = data.replace(',"None",', ',"No_AirBags",') # Чертовы подушки -- если там none -- это не пустота, а отсутствие подушек, пустота -- NA.
df = pd.read_csv(io.StringIO(data))

print('Есть пропуски' if df.isnull().values.any() else 'Нет пропусков')

Есть пропуски

### Упражнение № 40

Подсчитайте количество пропущенных значений в каждом столбце `df`. Какой столбец имеет наибольшее число пропущенных значений?

Пример входных данных:

```python
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [41]:
import io
import requests

data = requests.get('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv').text
data = data.replace(',"None",', ',"No_AirBags",') # Чертовы подушки -- если там none -- это не пустота, а отсутствие подушек, пустота -- NA.
df = pd.read_csv(io.StringIO(data))

missing_values = df.isnull().sum()
max_missing_values = missing_values.max()
columns_with_max_missing = missing_values[missing_values == max_missing_values].index.tolist()
print("Количество пропущенных значений в каждом столбце:")
print(missing_values)
print("\nСтолб(ы) с наибольшим числом пропущенных значений:")
print(columns_with_max_missing)

Количество пропущенных значений в каждом столбце:
Manufacturer           4
Model                  1
Type                   3
Min.Price              7
Price                  2
Max.Price              5
MPG.city               9
MPG.highway            2
AirBags                6
DriveTrain             7
Cylinders              5
EngineSize             2
Horsepower             7
RPM                    3
Rev.per.mile           6
Man.trans.avail        5
Fuel.tank.capacity     8
Passengers             2
Length                 4
Wheelbase              1
Width                  6
Turn.circle            5
Rear.seat.room         4
Luggage.room          19
Weight                 7
Origin                 5
Make                   3
dtype: int64

Столб(ы) с наибольшим числом пропущенных значений:
['Luggage.room']

### Упражнение № 41

Замените отсутствующие значения в столбцах `Min.Price` и `Max.Price` на соответствующие им средние значения.

Пример входных данных:

```python
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [51]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

avg_min_price = df['Min.Price'].mean()
avg_max_price = df['Max.Price'].mean()
df.fillna({'Min.Price' : avg_min_price}, inplace=True)
df.fillna({'Max.Price' : avg_max_price}, inplace=True)
print(df[['Min.Price', 'Max.Price']])

    Min.Price  Max.Price
0   12.900000  18.800000
1   29.200000  38.700000
2   25.900000  32.300000
3   17.118605  44.600000
4   17.118605  21.459091
..        ...        ...
88  16.600000  22.700000
89  17.600000  22.400000
90  22.900000  23.700000
91  21.800000  23.500000
92  24.800000  28.500000

[93 rows x 2 columns]

### Упражнение № 42

В `df` с помощью метода `apply` замените недостающие значения в `Min.Price` на среднее значение столбца, а в `Max.Price` — на медиану столбца.

Пример входных данных:

```python
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

[Подсказка на StackOverflow](https://stackoverflow.com/questions/32437435/passing-additional-arguments-to-python-pandas-dataframe-apply)

In [52]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

def fill_missing_values(column):
    if column.name == 'Min.Price':
        return column.fillna(column.mean())
    elif column.name == 'Max.Price':
        return column.fillna(column.median())
    return column

df[['Min.Price', 'Max.Price']] = df[['Min.Price', 'Max.Price']].apply(fill_missing_values)

print(df[['Min.Price', 'Max.Price']])

    Min.Price  Max.Price
0   12.900000      18.80
1   29.200000      38.70
2   25.900000      32.30
3   17.118605      44.60
4   17.118605      19.15
..        ...        ...
88  16.600000      22.70
89  17.600000      22.40
90  22.900000      23.70
91  21.800000      23.50
92  24.800000      28.50

[93 rows x 2 columns]

### Упражнение № 43

Получите первый столбец (`a`) в `df` в виде датафрейма (а не в виде ряда).

Пример входных данных:

```python
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
```

In [59]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

print(df[['a']]) # или так print(pd.DataFrame(df['a']))

    a
0   0
1   5
2  10
3  15

### Упражнение № 44

1. В `df` поменяйте местами столбцы `'a'` и `'c'`.
2. Создайте обобщенную функцию для обмена данными между двумя столбцами без фиксированного задания имен столбцов.
3. Отсортируйте столбцы в обратном алфавитном порядке, т.е. от столбца `'e'` до столбца `'a'`.

Пример входных данных:

```python
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
```

In [66]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

def swap_columns(dataframe, col1, col2):
    col1_data=dataframe[col1]
    col2_data=dataframe[col2]
    dataframe[col1]=col2_data
    dataframe[col2]=col1_data
    dataframe = dataframe.rename(columns={col1:col2, col2:col1})
    return dataframe

print("После замены столбцов 'a' и 'c':")
df = swap_columns(df, 'a', 'c')
print(df)

df = df[sorted(df.columns, reverse=True)]
print("\nПосле сортировки столбцов в обратном алфавитном порядке:")
print(df)

После замены столбцов 'a' и 'c':
    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

После сортировки столбцов в обратном алфавитном порядке:
    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

### Упражнение № 45

Измените настройки отображения `pandas` при выводе на печать датафрейма `df`, чтобы он показывал максимум 10 строк и 10 столбцов.

Пример входных данных:

```python
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [70]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Сохранение текущих настроек
original_max_rows = pd.get_option('display.max_rows')
original_max_columns = pd.get_option('display.max_columns')
# Изменение настроек отображения
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)
# Вывод DataFrame
print(df)
# Возврат настроек к значениям по умолчанию
pd.set_option('display.max_rows', original_max_rows)
pd.set_option('display.max_columns', original_max_columns)

   Manufacturer    Model     Type  Min.Price  Price  ...  Rear.seat.room  \
0         Acura  Integra    Small       12.9   15.9  ...            26.5
1           NaN   Legend  Midsize       29.2   33.9  ...            30.0
2          Audi       90  Compact       25.9   29.1  ...            28.0
3          Audi      100  Midsize        NaN   37.7  ...            31.0
4           BMW     535i  Midsize        NaN   30.0  ...            27.0
..          ...      ...      ...        ...    ...  ...             ...
88   Volkswagen  Eurovan      Van       16.6   19.7  ...            34.0
89   Volkswagen   Passat  Compact       17.6   20.0  ...            31.5
90   Volkswagen  Corrado   Sporty       22.9   23.3  ...            26.0
91        Volvo      240  Compact       21.8   22.7  ...            29.5
92          NaN      850  Midsize       24.8   26.7  ...            30.0

    Luggage.room  Weight   Origin                Make
0            NaN  2705.0  non-USA       Acura Integra
1           15.0  3560.0  non-USA        Acura Legend
2           14.0  3375.0  non-USA             Audi 90
3           17.0  3405.0  non-USA            Audi 100
4           13.0  3640.0  non-USA            BMW 535i
..           ...     ...      ...                 ...
88           NaN  3960.0      NaN  Volkswagen Eurovan
89          14.0  2985.0  non-USA   Volkswagen Passat
90          15.0  2810.0  non-USA  Volkswagen Corrado
91          14.0  2985.0  non-USA           Volvo 240
92          15.0  3245.0  non-USA           Volvo 850

[93 rows x 27 columns]

### Упражнение № 46

Исключите вывод научной нотации типа 'e-03' в `df` и выведите до 4 чисел после запятой.

Пример входных данных:

```python
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df
#>          random
#> 0  3.474280e-03
#> 1  3.951517e-05
#> 2  7.469702e-02
#> 3  5.541282e-28
```

In [97]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
print(df)
# Изменение настроек отображения
pd.set_option('display.float_format', '{:.4f}'.format)
# Вывод DataFrame
print(df)
# Возврат настроек к значениям по умолчанию
pd.reset_option('display.float_format')

         random
0  3.900134e-01
1  1.215393e-04
2  3.213967e-01
3  2.402202e-09
   random
0  0.3900
1  0.0001
2  0.3214
3  0.0000

### Упражнение № 47

Отформатируйте значения в столбце `'random'` из `df` в виде процентов.

Пример входных данных:

```python
df = pd.DataFrame(np.random.random(4), columns=['random'])
df
#>      random
#> 0    .689723
#> 1    .957224
#> 2    .159157
#> 3    .21082
```

In [98]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
print(df)

df['random'] = df['random'].apply(lambda x: f'{x * 100:.2f}%')
print(df)

     random
0  0.396099
1  0.864176
2  0.957717
3  0.162531
   random
0  39.61%
1  86.42%
2  95.77%
3  16.25%

### Упражнение № 48

Из `df` отфильтруйте значения `Manufacturer`, `Model` и `Type` для каждой 20-й строки, начиная с 1-й (строка 0).

Пример входных данных:

```python
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

In [99]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df.loc[::20, ['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

### Упражнение № 49

В `df` замените `NaN` на `missing` в столбцах `Manufacturer`, `Model` и `Type` , создайте индекс как комбинацию этих трех столбцов и проверьте, является ли этот индекс первичным ключом.

Пример входных данных:

```python
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])
```

In [101]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df['Index'] = df['Manufacturer'] + '_' + df['Model'] + '_' + df['Type']
df.set_index('Index', inplace=True)
is_unique = df.index.is_unique
print(df)
print(f"\nЯвляется ли индекс первичным ключом: {is_unique}")

                          Manufacturer    Model     Type  Min.Price  Max.Price
Index
Acura_Integra_Small              Acura  Integra    Small       12.9       18.8
missing_Legend_Midsize         missing   Legend  Midsize       29.2       38.7
Audi_90_Compact                   Audi       90  Compact       25.9       32.3
Audi_100_Midsize                  Audi      100  Midsize        NaN       44.6
BMW_535i_Midsize                   BMW     535i  Midsize        NaN        NaN
...                                ...      ...      ...        ...        ...
Volkswagen_Eurovan_Van      Volkswagen  Eurovan      Van       16.6       22.7
Volkswagen_Passat_Compact   Volkswagen   Passat  Compact       17.6       22.4
Volkswagen_Corrado_Sporty   Volkswagen  Corrado   Sporty       22.9       23.7
Volvo_240_Compact                Volvo      240  Compact       21.8       23.5
missing_850_Midsize            missing      850  Midsize       24.8       28.5

[93 rows x 5 columns]

Является ли индекс первичным ключом: True

### Упражнение № 50

Найти положение строки с 5-м наибольшим значением столбца `'a'` в `df`.

Пример входных данных:

```python
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))
```

In [110]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10, -1), columns=list('abc'))
print(df)
print(f"Положение строки с 5-м наибольшим значением в столбце 'a': {df['a'].nlargest(5).index[-1]}")

    a   b   c
0  23   6  20
1   5  25  21
2   4   2  25
3  18   2  14
4  20  22  15
5   5  20  11
6   2   5  12
7  23  14  26
8  23   9  18
9   7   5   7
Положение строки с 5-м наибольшим значением в столбце 'a': 3

### Упражнение № 51

В `ser` найдите положение 2-го наибольшего значения, превышающего среднее. **странная задача, ведь слегка измененный код от прошлого упражнения будет выдавать правильный ответ, ведь второе самое большое число явно больше среднего, и проверять это условие (что оно больше среднего) абсолютно не имеет смысла**

Пример входных данных:

```python
ser = pd.Series(np.random.randint(1, 100, 15))
```

In [124]:
original_max_rows = pd.get_option('display.max_rows')
pd.set_option('display.max_rows', 100)

ser = pd.Series(np.random.randint(1, 100, 15))
print(ser)

mean_value = ser.mean()
filtered_values = ser[ser > mean_value]
second_largest_value = filtered_values.nlargest(2).iloc[-1]
position = ser[ser == second_largest_value].index[0] 

print(f"Среднее значение: {mean_value:.2f}")
print(f"Значения, превышающие среднее: {filtered_values.values}")
print(f"2-е наибольшее значение, превышающее среднее: {second_largest_value}")
print(f"Положение 2-го наибольшего значения, превышающего среднее: {position}")
pd.set_option('display.max_rows', original_max_rows)

0     43
1     53
2     29
3     42
4     58
5     24
6     84
7     68
8     62
9      7
10    65
11    85
12    51
13    17
14    23
dtype: int32
Среднее значение: 47.40
Значения, превышающие среднее: [53 58 84 68 62 65 85 51]
2-е наибольшее значение, превышающее среднее: 84
Положение 2-го наибольшего значения, превышающего среднее: 6

### Упражнение № 52

Получите две последние строки `df`, сумма строк которых больше 100.

```python
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
```

In [125]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))

filtered_df = df[df.sum(axis=1) > 100] # строки больше сотки
print(filtered_df.tail(2))

     0   1   2   3
9   22  24  36  27
11  27  39  26  36

### Упражнение № 53

Замените все значения `ser`, находящиеся ниже 5%-ного и выше 95%-ного перцентиля, на соответствующие значения 5-го и 95-го перцентиля.

Пример входных данных:

```python
ser = pd.Series(np.logspace(-2, 2, 30))
```

In [129]:
ser = pd.Series(np.logspace(-2, 2, 30))

percentile_5 = np.percentile(ser, 5)
percentile_95 = np.percentile(ser, 95)
ser = ser.apply(lambda x: percentile_5 if x < percentile_5 else (percentile_95 if x > percentile_95 else x))

print(ser)

0      0.016049
1      0.016049
2      0.018874
3      0.025929
4      0.035622
5      0.048939
6      0.067234
7      0.092367
8      0.126896
9      0.174333
10     0.239503
11     0.329034
12     0.452035
13     0.621017
14     0.853168
15     1.172102
16     1.610262
17     2.212216
18     3.039195
19     4.175319
20     5.736153
21     7.880463
22    10.826367
23    14.873521
24    20.433597
25    28.072162
26    38.566204
27    52.983169
28    63.876672
29    63.876672
dtype: float64

### Упражнение № 54

Перестройте `df` в максимально возможный квадрат с удалением отрицательных значений. При необходимости отбросьте наименьшие значения. Порядок положительных чисел в результате должен остаться тем же, что и в исходном варианте.

Пример входных данных:

```python
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10,-1))
```

In [144]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10, -1))


positive_values = df[df >= 0].stack().reset_index(drop=True)
n = int(np.floor(np.sqrt(len(positive_values))))
positive_values = positive_values.nlargest(n*n).sort_index(kind='mergesort').reset_index(drop=True) # мергесорт каким-то образом оставляет порядок лучше других, особенно у одинаковых чисел с разными индексами
new_df = pd.DataFrame(positive_values.values.reshape(n, n))
print("Исходный DataFrame:")
print(df)
print("\nПреобразованный квадратный DataFrame:")
print(new_df)

Исходный DataFrame:
    0   1   2   3   4   5   6   7   8   9
0  14   8  23  35  35 -15  28 -10   3   7
1   2   2  27  25   1  36   2  13  30 -10
2  27   8 -18 -12   7  46  -7  19  39   8
3  -2   1   1  45 -11  23  -4 -17  34  30
4  32 -20   0  10   1  -9  17  31  45  -4
5  -3  31  24  23  25  47  28  22  23  -2
6 -19  -1   5  -2  13 -19  24 -14  29   8
7  34 -18 -11   9   6  -7  27   3   4  42
8  35  18 -18  44  -9   1  35   8  38   3
9  39   6  12  22  33  33  17 -18  14  47

Преобразованный квадратный DataFrame:
      0     1     2     3     4     5     6     7
0  14.0   8.0  23.0  35.0  35.0  28.0   3.0   7.0
1  27.0  25.0  36.0  13.0  30.0  27.0   8.0   7.0
2  46.0  19.0  39.0   8.0  45.0  23.0  34.0  30.0
3  32.0  10.0  17.0  31.0  45.0  31.0  24.0  23.0
4  25.0  47.0  28.0  22.0  23.0   5.0  13.0  24.0
5  29.0   8.0  34.0   9.0   6.0  27.0   3.0   4.0
6  42.0  35.0  18.0  44.0  35.0   8.0  38.0  39.0
7   6.0  12.0  22.0  33.0  33.0  17.0  14.0  47.0

### Упражнение № 55

Поменяйте местами строки 1 и 2 в `df`.

Пример входных данных:

```python
df = pd.DataFrame(np.arange(25).reshape(5, -1))
```

In [146]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

df.iloc[[1, 2]] = df.iloc[[2, 1]].values # про названия строк ничего не сказано, поэтому 😊
print(df)

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

### Упражнение № 56

Переверните строки датафрейма `df` (первая строка становится последней).

Пример входных данных:

```python
df = pd.DataFrame(np.arange(25).reshape(5, -1))
```

In [147]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

print("Исходный DataFrame:")
print(df)
print("\nПеревернутый DataFrame:")
print(df.iloc[::-1]) # опять таки ничего не сказано за названия строк, но тут они поменяются

Исходный DataFrame:
    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

Перевернутый DataFrame:
    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

### Упражнение № 57

Получите бинарный код для столбца `'a'` в датафрейме `df` и добавьте его в виде столбцов.

Пример входных данных:

```python
df = pd.DataFrame(np.arange(25).reshape(5,-1), columns=list('abcde'))
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24
```

In [151]:
df = pd.DataFrame(np.arange(25).reshape(5, -1), columns=list('abcde'))

binary_cols = pd.get_dummies(df['a'], prefix='', prefix_sep='')
binary_cols.columns = [str(col) for col in binary_cols.columns]
binary_cols = binary_cols.astype(int) # избавляемся от тру фолз
df_binary = pd.concat([binary_cols, df.drop('a', axis=1)], axis=1)
print("Исходный DataFrame:")
print(df)
print("\nDataFrame с бинарным кодом:")
print(df_binary)

Исходный DataFrame:
    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

DataFrame с бинарным кодом:
   0  5  10  15  20   b   c   d   e
0  1  0   0   0   0   1   2   3   4
1  0  1   0   0   0   6   7   8   9
2  0  0   1   0   0  11  12  13  14
3  0  0   0   1   0  16  17  18  19
4  0  0   0   0   1  21  22  23  24

### Упражнение № 58

Получите название столбца с наибольшим количеством строчных максимумов в `df`.

```python
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1))
```

In [155]:
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1))

max_columns = df.idxmax(axis=1)
max_count = max_columns.value_counts()
max_column_name = max_count.idxmax()
print("Исходный DataFrame:")
print(df)
print("\nНазвание столбца с наибольшим количеством строчных максимумов:", max_column_name)

Исходный DataFrame:
    0   1   2   3
0  30  12  44   5
1  80  75  14  36
2   6  85  59  94
3  88   9  58  10
4  19  72  77  15
5  11  95  66  37
6  44  71  35  18
7   3  70  94  19
8  56  58  78  12
9   2  38  75  18

Название столбца с наибольшим количеством строчных максимумов: 2

### Упражнение № 59

Создать новый столбец, в каждой строке которого будет указан номер строки, ближайшей по евклидову расстоянию к данной строке.

Пример входных данных:

```python
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df
#     p   q   r   s
# a  57  77  13  62
# b  68   5  92  24
# c  74  40  18  37
# d  80  17  39  60
# e  93  48  85  33
# f  69  55   8  11
# g  39  23  88  53
# h  63  28  25  61
# i  18   4  73   7
# j  79  12  45  34
```

In [157]:
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
print("Исходный DataFrame:")
print(df)

def euclidean_distance(row1, row2):
    return np.sqrt(np.sum((row1 - row2) ** 2))

nearest_rows = []
distances = []

for i, row1 in df.iterrows():
    min_distance = float('inf')
    nearest_row = None
    for j, row2 in df.iterrows():
        if i != j:
            dist = euclidean_distance(row1, row2)
            if dist < min_distance:
                min_distance = dist
                nearest_row = j
    nearest_rows.append(nearest_row)
    distances.append(min_distance)

df['nearest_row'] = nearest_rows
df['dist'] = distances


print("\nDataFrame с ближайшими строками и расстояниями:")
print(df)

Исходный DataFrame:
    p   q   r   s
a  58  47  28  85
b   3  59  75  94
c  91   5  70  76
d  98  14  54   5
e  42  86  14  46
f  75  72  39  78
g  93  24  63  65
h  30  62  98  91
i  37  45  64  44
j  86  96  33  90

DataFrame с ближайшими строками и расстояниями:
    p   q   r   s nearest_row       dist
a  58  47  28  85           f  32.924155
b   3  59  75  94           h  35.721142
c  91   5  70  76           g  23.130067
d  98  14  54   5           g  61.692787
e  42  86  14  46           f  54.166410
f  75  72  39  78           j  29.614186
g  93  24  63  65           c  23.130067
h  30  62  98  91           b  35.721142
i  37  45  64  44           a  58.497863
j  86  96  33  90           f  29.614186

### Упражнение № 60

Вычислите максимально возможное абсолютное значение корреляции каждого столбца с другими столбцами в `df`.

Пример входных данных:

```python
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))
```

In [161]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1), columns=list('pqrstuvwxy'), index=list('abcdefgh'))

correlation_matrix = df.corr()
max_absolute_correlation = correlation_matrix.apply(lambda x: x.abs().nlargest(2).iloc[1])

print("Корреляционная матрица:")
print(correlation_matrix)
print("\nМаксимально возможное абсолютное значение корреляции для каждого столбца (исключая себя):")
print(max_absolute_correlation)

Корреляционная матрица:
          p         q         r         s         t         u         v  \
p  1.000000 -0.422490  0.358402 -0.298647  0.300396 -0.098243 -0.491075
q -0.422490  1.000000 -0.819563  0.502076  0.170538  0.014493 -0.136963
r  0.358402 -0.819563  1.000000 -0.348224 -0.173748 -0.264029  0.198106
s -0.298647  0.502076 -0.348224  1.000000  0.288286  0.335145 -0.246657
t  0.300396  0.170538 -0.173748  0.288286  1.000000  0.656009 -0.715089
u -0.098243  0.014493 -0.264029  0.335145  0.656009  1.000000 -0.639061
v -0.491075 -0.136963  0.198106 -0.246657 -0.715089 -0.639061  1.000000
w  0.300426  0.293450 -0.221436 -0.503107  0.239462 -0.234566 -0.252796
x  0.299621 -0.671371  0.453786 -0.684231 -0.186221 -0.243308  0.458218
y -0.069690 -0.207823  0.309456  0.106346 -0.764298 -0.410241  0.245602

          w         x         y
p  0.300426  0.299621 -0.069690
q  0.293450 -0.671371 -0.207823
r -0.221436  0.453786  0.309456
s -0.503107 -0.684231  0.106346
t  0.239462 -0.186221 -0.764298
u -0.234566 -0.243308 -0.410241
v -0.252796  0.458218  0.245602
w  1.000000 -0.062489 -0.411673
x -0.062489  1.000000 -0.226258
y -0.411673 -0.226258  1.000000

Максимально возможное абсолютное значение корреляции для каждого столбца (исключая себя):
p    0.491075
q    0.819563
r    0.819563
s    0.684231
t    0.764298
u    0.656009
v    0.715089
w    0.503107
x    0.684231
y    0.764298
dtype: float64

### Упражнение № 61

Вычислите минимум-максимум для каждой строки `df`.

```python
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
```

In [162]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))
print("Исходный DataFrame:")
print(df)

min_values = df.min(axis=1)
max_values = df.max(axis=1)
min_max_diff = max_values - min_values
df['min_max_diff'] = min_max_diff

print("\nDataFrame с добавленным столбцом min_max_diff:")
print(df)

Исходный DataFrame:
    0   1   2   3   4   5   6   7   8   9
0   4  58  22  76  96  38  85  22  28  42
1  56  11  76  80  15  74  91  58  22  24
2  98  83  26  74  99  65  73  27  86  86
3  96   7  96  26  18  95  53  17  50  74
4  56  73  57   5  93  62   1  73  46  72
5  27  21  53  45  76  81  97  44  85  47
6  22  94  81  17  98  52  18  46  54  35
7  63  59  64  43  73  72  89   3  32  76

DataFrame с добавленным столбцом min_max_diff:
    0   1   2   3   4  ...   6   7   8   9  min_max_diff
0   4  58  22  76  96  ...  85  22  28  42            92
1  56  11  76  80  15  ...  91  58  22  24            80
2  98  83  26  74  99  ...  73  27  86  86            73
3  96   7  96  26  18  ...  53  17  50  74            89
4  56  73  57   5  93  ...   1  73  46  72            92
5  27  21  53  45  76  ...  97  44  85  47            76
6  22  94  81  17  98  ...  18  46  54  35            81
7  63  59  64  43  73  ...  89   3  32  76            86

[8 rows x 11 columns]

### Упражнение № 62

Создайте новый столбец `penultimate`, который содержит второе по величине значение каждой строки `df`. **опять странно звучит, вроде второе по величине это число, которое больше самого маленького, но penultimate -- это предпоследний, поэтому х/з нужно предпоследний по величине или все-таки второй после самого мелкого, в коде это меняется в строке 6 -- либо nlargest, либо nsmallest**

Пример входных данных:

```python
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
```

In [165]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))
print("Исходный DataFrame:")
print(df)

def second_largest(row):
    return row.nlargest(2).iloc[1]

df['penultimate'] = df.apply(second_largest, axis=1)

print("\nDataFrame с добавленным столбцом 'penultimate':")
print(df)

Исходный DataFrame:
    0   1   2   3   4   5   6   7   8   9
0  78  26  83   3  49  43  17  79  93  98
1  50  31  60  62  76  50  10  73  44  92
2  94  28  59  73   4  31  36  72  65  12
3  56   2   4  82  28  51  14  38  72  36
4   8  21  90  47   9  15  79  32  55  39
5  18  60  58  36  72  89   4  78  32  61
6  68  52  67  20   5  33  97  36  57  17
7  51   1   7  43  90  81  48  46  36  93

DataFrame с добавленным столбцом 'penultimate':
    0   1   2   3   4  ...   6   7   8   9  penultimate
0  78  26  83   3  49  ...  17  79  93  98           93
1  50  31  60  62  76  ...  10  73  44  92           76
2  94  28  59  73   4  ...  36  72  65  12           73
3  56   2   4  82  28  ...  14  38  72  36           72
4   8  21  90  47   9  ...  79  32  55  39           79
5  18  60  58  36  72  ...   4  78  32  61           78
6  68  52  67  20   5  ...  97  36  57  17           68
7  51   1   7  43  90  ...  48  46  36  93           90

[8 rows x 11 columns]

### Упражнение № 63

1. Нормализуйте все столбцы `df`, вычитая среднее значение столбца и деля его на стандартное отклонение.
2. Произведите ранжирование всех столбцов `df` таким образом, чтобы минимальное значение в каждом столбце было равно 0, а максимальное — 1.

Не используйте внешние пакеты типа `sklearn`.

Пример входных данных:

```python
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
```

In [169]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))
print("Исходный DataFrame:")
print(df)

# Шаг 1: Нормализация столбцов
df = (df - df.mean()) / df.std()
print("\nНормализованный DataFrame:")
print(df)

# Шаг 2: Ранжирование столбцов
df = (df - df.min()) / (df.max() - df.min())
print("\nРанжированный нормализованный DataFrame:")
print(df)

Исходный DataFrame:
    0   1   2   3   4   5   6   7   8   9
0  41  36  18  35  40  10  41  38  62  11
1   4  66  20  14  92  15  45  55  67  68
2  46  86  21  85  11  67  17  54  30  93
3  42  10  81  55   1  91  21  99  20  88
4  18  71  88  94  81  34  76  41  47  19
5  11  77  54   6  37  11  44  87  95  48
6  59  81   1   1  40  50  10  47  16  56
7  45  68  42  42  95  67  50  50  79  40

Нормализованный DataFrame:
          0         1         2         3         4         5         6  \
0  0.395822 -1.001254 -0.718144 -0.186204 -0.267836 -1.088482  0.140400
1 -1.493909  0.159620 -0.654662 -0.787784  1.179173 -0.924182  0.327600
2  0.651191  0.933537 -0.622921  1.246131 -1.074821  0.784528 -0.982800
3  0.446896 -2.007345  1.281550  0.386730 -1.353092  1.573164 -0.795600
4 -0.778876  0.353099  1.503738  1.503951  0.873075 -0.299846  1.778399
5 -1.136392  0.585274  0.424538 -1.016958 -0.351317 -1.055622  0.280800
6  1.315150  0.740057 -1.257744 -1.160191 -0.267836  0.225911 -1.310399
7  0.600117  0.237012  0.043644  0.014323  1.262654  0.784528  0.561600

          7         8         9
0 -0.945122  0.349459 -1.410133
1 -0.175442  0.524188  0.509332
2 -0.220717 -0.768809  1.351202
3  1.816673 -1.118268  1.182828
4 -0.809297 -0.174729 -1.140735
5  1.273369  1.502673 -0.164165
6 -0.537645 -1.258052  0.105234
7 -0.401819  0.943539 -0.433563

Ранжированный нормализованный DataFrame:
          0         1         2         3         4         5         6  \
0  0.672727  0.342105  0.195402  0.365591  0.414894  0.000000  0.469697
1  0.000000  0.736842  0.218391  0.139785  0.968085  0.061728  0.530303
2  0.763636  1.000000  0.229885  0.903226  0.106383  0.703704  0.106061
3  0.690909  0.000000  0.919540  0.580645  0.000000  1.000000  0.166667
4  0.254545  0.802632  1.000000  1.000000  0.851064  0.296296  1.000000
5  0.127273  0.881579  0.609195  0.053763  0.382979  0.012346  0.515152
6  1.000000  0.934211  0.000000  0.000000  0.414894  0.493827  0.000000
7  0.745455  0.763158  0.471264  0.440860  1.000000  0.703704  0.606061

          7         8         9
0  0.000000  0.582278  0.000000
1  0.278689  0.645570  0.695122
2  0.262295  0.177215  1.000000
3  1.000000  0.050633  0.939024
4  0.049180  0.392405  0.097561
5  0.803279  1.000000  0.451220
6  0.147541  0.000000  0.548780
7  0.196721  0.797468  0.353659

### Упражнение № 64

Вычислите корреляцию каждой строки `df` с последующей строкой.

Пример входных данных:

```python
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
```

In [171]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

correlations = []
for i in range(len(df) - 1):
    corr = df.iloc[i].corr(df.iloc[i + 1])
    correlations.append(corr)

result_df = pd.DataFrame({
    'Строка 1': df.index[:-1],
    'Строка 2': df.index[1:],
    'Корреляция': correlations
})

print("Исходный DataFrame:")
print(df)
print("\nКорреляции между каждой строкой и последующей строкой:")
print(result_df)

Исходный DataFrame:
    0   1   2   3   4   5   6   7   8   9
0  19  21  89  40  93  78  85  26  33  17
1  65   7  20  72  38  46  97  77   3  24
2  97  98  16  11  93  85  10  20  35  82
3  51   4  15  94  23  51  77  27  57  51
4  88  56  69  35  16  56  90  72  75  52
5  22  90  77  44  43  12  71  77  69  42
6  24  59  24  57  68  19  34  79  64  53
7  98  35  40  74  64  10   4  87  17  25

Корреляции между каждой строкой и последующей строкой:
   Строка 1  Строка 2  Корреляция
0         0         1    0.154553
1         1         2   -0.393709
2         2         3   -0.409342
3         3         4    0.113014
4         4         5    0.218058
5         5         6    0.441421
6         6         7    0.271254

### Упражнение № 65

Замените все значения в обеих диагоналях `df` на 0.

Пример входных данных:

```python
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
df
#     0   1   2   3   4   5   6   7   8   9
# 0  11  46  26  44  11  62  18  70  68  26
# 1  87  71  52  50  81  43  83  39   3  59
# 2  47  76  93  77  73   2   2  16  14  26
# 3  64  18  74  22  16  37  60   8  66  39
# 4  10  18  39  98  25   8  32   6   3  29
# 5  29  91  27  86  23  84  28  31  97  10
# 6  37  71  70  65   4  72  82  89  12  97
# 7  65  22  97  75  17  10  43  78  12  77
# 8  47  57  96  55  17  83  61  85  26  86
# 9  76  80  28  45  77  12  67  80   7  63
```

In [175]:
df = pd.DataFrame(np.random.randint(1, 100, 100).reshape(10, -1))

np.fill_diagonal(df.values, 0)
for i in range(len(df)):
    df.iat[i, len(df) - 1 - i] = 0
print("DataFrame с замененными значениями в диагоналях:")
print(df)

DataFrame с замененными значениями в диагоналях:
    0   1   2   3   4   5   6   7   8   9
0   0  61  36  15  29  14  41   4  98   0
1  69   0  10  29  44  31  64  15   0  89
2  98  57   0  17   5  94  90   0  25  10
3  29  90  37   0  39  77   0  40  62  22
4  79  37  93  51   0   0  36  52  54  27
5  11  62  83  53   0   0  46  24  93  66
6  96   1  91   0  72  91   0  98  45  12
7  27  95   0  84  52  24  63   0  53  97
8  74   0  74  50  81   6  80  16   0  36
9   0  74  51  18  12  47  64  75  91   0

### Упражнение № 66

Из `df_grouped` получите в виде датафрейма группу, относящуюся к `apple`.

Пример входных данных:

```python
df = pd.DataFrame({'col1': ['apple', 'banana', 'orange'] * 3,
                   'col2': np.random.rand(9),
                   'col3': np.random.randint(0, 15, 9)})

df_grouped = df.groupby(['col1'])
```

In [177]:
df = pd.DataFrame({
    'col1': ['apple', 'banana', 'orange'] * 3,
    'col2': np.random.rand(9),
    'col3': np.random.randint(0, 15, 9)
})

df_grouped = df.groupby('col1')
print("Исходный DataFrame:")
print(df)
print("\nГруппа, относящаяся к 'apple':")
print(df_grouped.get_group('apple'))

Исходный DataFrame:
     col1      col2  col3
0   apple  0.057219     1
1  banana  0.755780    11
2  orange  0.922692     1
3   apple  0.967184     5
4  banana  0.901765     1
5  orange  0.491226     2
6   apple  0.886464     5
7  banana  0.719527    13
8  orange  0.085470     1

Группа, относящаяся к 'apple':
    col1      col2  col3
0  apple  0.057219     1
3  apple  0.967184     5
6  apple  0.886464     5

### Упражнение № 67

В `df` найдите второе по величине значение `taste` для `banana`. **😡опять эти странные формулировки**

Пример входных данных:

```python
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
```

In [180]:
df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

banana_ratings = df[df['fruit'] == 'banana']['rating']
print("Исходный DataFrame:")
print(df)
print("\nВторое по величине значение 'rating' для 'banana':")
print(banana_ratings.nlargest(2).iloc[-1])

Исходный DataFrame:
    fruit    rating  price
0   apple  0.317000     13
1  banana  0.410411      6
2  orange  0.669083     14
3   apple  0.472936      3
4  banana  0.621641      1
5  orange  0.725431      6
6   apple  0.557981     13
7  banana  0.739830      5
8  orange  0.758028      8

Второе по величине значение 'rating' для 'banana':
0.6216407324129584

### Упражнение № 68

В `df` вычислите среднюю цену `Price` каждого фрукта `Fruit`, сохраняя фрукт как еще один столбец вместо индекса. **тоже не ясно "вместо индекса" - это значит что названия фруктов и есть индексы, или то что нужно "сохранить фрукт как еще один столбец"**

Пример входных данных:

```python
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
```

In [181]:
df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

print("Исходный DataFrame:")
print(df)
print("\nСредняя цена каждого фрукта:")
print(df.groupby('fruit', as_index=False)['price'].mean())

Исходный DataFrame:
    fruit    rating  price
0   apple  0.435564      7
1  banana  0.475195      6
2  orange  0.903725     11
3   apple  0.897793      7
4  banana  0.501974      7
5  orange  0.143504      8
6   apple  0.826764      8
7  banana  0.718509      8
8  orange  0.343200      5

Средняя цена каждого фрукта:
    fruit     price
0   apple  7.333333
1  banana  7.000000
2  orange  8.000000

### Упражнение № 69

Объединить датафреймы `df1` и `df2` по признакам `fruit-pazham` и `weight-kilo`.

Пример входных данных:

```python
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})
```

In [182]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})
df2 = pd.DataFrame({
    'pazham': ['apple', 'orange', 'pine'] * 2,
    'kilo': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})

print("Исходный DataFrame df1:")
print(df1)
print("\nИсходный DataFrame df2:")
print(df2)
print("\nОбъединенный DataFrame:")
print(pd.merge(df1, df2, left_on=['fruit', 'weight'], right_on=['pazham', 'kilo']))

Исходный DataFrame df1:
    fruit  weight  price
0   apple    high      2
1  banana  medium      3
2  orange     low     13
3   apple    high     13
4  banana  medium      1
5  orange     low     10
6   apple    high      7
7  banana  medium      0
8  orange     low      5

Исходный DataFrame df2:
   pazham  kilo  price
0   apple  high      4
1  orange   low     13
2    pine  high      6
3   apple   low      7
4  orange  high      0
5    pine   low     14

Объединенный DataFrame:
    fruit weight  price_x  pazham  kilo  price_y
0   apple   high        2   apple  high        4
1  orange    low       13  orange   low       13
2   apple   high       13   apple  high        4
3  orange    low       10  orange   low       13
4   apple   high        7   apple  high        4
5  orange    low        5  orange   low       13

### Упражнение № 70

Создайте в `df` два новых столбца, один из них — `lag1` (сдвиг столбца `a` вниз на 1 строку) столбца 'a', а другой — `lead1` (сдвиг столбца `b` вверх на 1 строку).

Пример входных данных:

```python
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

    a   b   c   d
0  66  34  76  47
1  20  86  10  81
2  75  73  51  28
3   1   1   9  83
4  30  47  67   4
```

In [183]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns=list('abcd'))
print("Исходный DataFrame:")
print(df)

df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print("\nDataFrame с добавленными столбцами 'a_lag1' и 'b_lead1':")
print(df)

Исходный DataFrame:
    a   b   c   d
0  76  45  26  95
1  72  16   1  45
2  14  73  24  97
3  75  73  22  38
4  42  60  87  51

DataFrame с добавленными столбцами 'a_lag1' и 'b_lead1':
    a   b   c   d  a_lag1  b_lead1
0  76  45  26  95     NaN     16.0
1  72  16   1  45    76.0     73.0
2  14  73  24  97    72.0     73.0
3  75  73  22  38    14.0     60.0
4  42  60  87  51    75.0      NaN

### Упражнение № 71

Получите частоты уникальных значений по всему датафрейму `df`.

Пример входных данных:

```python
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns = list('abcd'))
```

In [186]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns=list('abcd'))

print("Исходный DataFrame:")
print(df)
print("\nЧастоты уникальных значений по всему DataFrame:")
print(df.stack().value_counts().sort_index())

Исходный DataFrame:
   a  b  c  d
0  7  3  4  2
1  7  8  8  4
2  3  6  1  6
3  8  1  6  6
4  2  4  9  4

Частоты уникальных значений по всему DataFrame:
1    2
2    2
3    2
4    4
6    4
7    2
8    3
9    1
Name: count, dtype: int64

### Упражнение № 72

Разделите столбец `row` в `df` так, чтобы сформировать датафрейм с 3 столбцами, как показано в примере выходных данных. 

Пример входных данных:

```python
df = pd.DataFrame(["STD, City    State",
"33, Kolkata    West Bengal",
"44, Chennai    Tamil Nadu",
"40, Hyderabad    Telengana",
"80, Bangalore    Karnataka"], columns=['row'])

print(df)
#>                         row
#> 0          STD, City\tState
#> 1  33, Kolkata\tWest Bengal
#> 2   44, Chennai\tTamil Nadu
#> 3  40, Hyderabad\tTelengana
#> 4  80, Bangalore\tKarnataka
```

In [197]:
df = pd.DataFrame(["STD, City\tState",
                   "33, Kolkata\tWest Bengal",
                   "44, Chennai\tTamil Nadu",
                   "40, Hyderabad\tTelengana",
                   "80, Bangalore\tKarnataka"], 
                  columns=['row'])
print(df)

df = df['row'].iloc[1:].str.split('[,\t]', expand=True)
df.columns = ['STD', 'City', 'State']
print("\nРазделённый DataFrame:")
print(df)

                        row
0          STD, City\tState
1  33, Kolkata\tWest Bengal
2   44, Chennai\tTamil Nadu
3  40, Hyderabad\tTelengana
4  80, Bangalore\tKarnataka

Разделённый DataFrame:
  STD        City        State
1  33     Kolkata  West Bengal
2  44     Chennai   Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka